In [17]:
import pandas as pd

location = "/mnt/c/Users/sauba/Desktop/20.RERConverge_trimmed/3.New_colias/61.New_alignment_colias"

diapause = pd.read_csv(f"{location}/2.ERC_plot/ERC_correlation_diapause_longform.csv")

genes = ["8751at7088","period","3165at7088","3811at7088","4043at7088","13263at7088","12510at7088","2560at7088","8809at7088","1846at7088","5474at7088","5423at7088","3362at7088","1709at7088","2036at7088","5326at7088","10001at7088","4842at7088","6081at7088","1390at7088","cycle","8044at7088","16035at7088","12354at7088","12730at7088","1422at7088","6031at7088","5679at7088"]

location = "/mnt/c/Users/sauba/Desktop/20.RERConverge_trimmed/unTrimmed/3.For_tree"
gene_anno_dic = {}
with open(f"/mnt/g/My Drive/Circadian Rhythm Genes Project/20.RERconverge/2.Modified_diapause/correlation_with_annotation.csv", 'r') as cor_file:
    for lines in cor_file.readlines()[1:]:
        gene_name = lines.split(",")[0].split("_")[0]
        # print(gene_name)
        anno_name = lines.split(",")[-1].replace('"', '')
        gene_anno_dic[gene_name]= anno_name.strip()

filtered_df = diapause[diapause['Gene1'].isin(genes)& diapause['Gene2'].isin(genes)]


filtered_df = filtered_df.rename(columns={"value": "Correlation"})

def check_annotation(name):
    return gene_anno_dic.get(name, name)

filtered_df["Annotation_gene1"] = filtered_df["Gene1"].apply(check_annotation)
filtered_df["Annotation_gene2"] = filtered_df["Gene2"].apply(check_annotation)


# filtered_df = filtered_df.drop('Unnamed: 0', axis=1)
filtered_df["Correlation"].fillna(1, inplace=True)
filtered_df

,Gene1,Gene2,Correlation,Annotation_gene1,Annotation_gene2
301448,8809at7088,5423at7088,0.343168,ENAH,QRSL1
301455,8809at7088,4043at7088,0.032354,ENAH,ACAT1
301517,8809at7088,3362at7088,0.306523,ENAH,NOP14
302106,8809at7088,2036at7088,0.222993,ENAH,LINS
302148,8809at7088,3811at7088,0.046457,ENAH,LPCAT3
...,...,...,...,...,...
19120840,1846at7088,12354at7088,0.090621,SLC6A19,ISOC1
19121123,1846at7088,5326at7088,0.152984,SLC6A19,NPFFR2
19121334,1846at7088,1390at7088,0.209964,SLC6A19,USP2
19121372,1846at7088,13263at7088,0.313248,SLC6A19,DSTN
19121526,1846at7088,1846at7088,1.000000,SLC6A19,SLC6A19

In [18]:
unique_species = filtered_df['Annotation_gene1'].unique()
output = f"Node_name\n"+ "\n".join(unique_species)
# print(output)
with open("/mnt/c/Users/sauba/Desktop/20.RERConverge_trimmed/3.New_colias/61.New_alignment_colias/4.For_Gephi/nodes.csv", 'w') as out_file:
    
    out_file.write(output)
# print(len(unique_species))

In [23]:
df_subset = filtered_df[['Annotation_gene1', 'Annotation_gene2', "Correlation"]]
df_filtered = df_subset[(df_subset['Correlation'] > 0.4) &  (df_subset['Correlation'] < 1)]

df_filtered = df_filtered.rename(columns={'Annotation_gene1': 'Source'})
df_filtered = df_filtered.rename(columns={'Annotation_gene2': 'Target'})
df_filtered = df_filtered.rename(columns={'Correlation': 'Weight'})

df_filtered['Type'] = 'Undirected'
df_filtered

           Source      Target    Weight        Type
301448       ENAH       QRSL1  0.343168  Undirected
301455       ENAH       ACAT1  0.032354  Undirected
301517       ENAH       NOP14  0.306523  Undirected
302106       ENAH        LINS  0.222993  Undirected
302148       ENAH      LPCAT3  0.046457  Undirected
...           ...         ...       ...         ...
19120775  SLC6A19  5679at7088  0.297118  Undirected
19120840  SLC6A19       ISOC1  0.090621  Undirected
19121123  SLC6A19      NPFFR2  0.152984  Undirected
19121334  SLC6A19        USP2  0.209964  Undirected
19121372  SLC6A19        DSTN  0.313248  Undirected

[698 rows x 4 columns]

In [24]:
df_filtered.to_csv("/mnt/c/Users/sauba/Desktop/20.RERConverge_trimmed/3.New_colias/61.New_alignment_colias/4.For_Gephi/edges.csv", index = False)